<div class="container">
	<h1>About us</h1>
	<p>
	This website was originally developed by CMMR and the group members are:
	</p>
	<ul>
		<% @names.each do |name| %>
		<li><%= name %></li>
		<% end %>
	</ul>
  <p>It was updated by Repunit Prime Group, our members are: </p>
  <ul>
  <% @updatedByNames.each do |name| %>
      <li><%= name %></li>
  <% end %>
  </ul>
</div>